<div class="carousel">
  <div class="slides">
    <div class="slide">
      <img src="assets/1.jpg" alt="First Slide" />
      <div class="caption"></div>
    </div>
    <div class="slide">
      <img src="assets/2.jpg" alt="Second Slide" />
      <div class="caption"></div>
    </div>
  </div>
  <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
  <button class="next" onclick="moveSlide(1)">&#10095;</button>
</div>
<script>
  let currentSlide = 0;

  function moveSlide(direction) {
    const slides = document.querySelector(".slides");
    const totalSlides = document.querySelectorAll(".slide").length;

    currentSlide += direction;

    if (currentSlide < 0) {
      currentSlide = totalSlides - 1;
    } else if (currentSlide >= totalSlides) {
      currentSlide = 0;
    }

    slides.style.transform = `translateX(-${currentSlide * 100}%)`;
  }
</script>

<!-- Skills Section -->
<section id="skills" class="skills-section">
  <h1>Technology Stack Used:</h1>
  <ul>
    <li>
      Backend Technology
      <ul>
        <li>GO</li>
      </ul>
    </li>
    <li>
      Frontend Technology
      <ul>
        <li>Angular</li>
      </ul>
    </li>
    <li>
      Database Technology
      <ul>
        <li>MongoDB</li>
      </ul>
    </li>
  </ul>
</section>

<!-- About Section -->
<section class="about">
  <h1>About Us Page</h1>
  <p>
    Effectively and systematically manage and document the pertinent details and
    information of your employees to ensure a thorough and accurate
    record-keeping system within your organizational framework.
  </p>
</section>
