<!-- app.component.html -->
<nav
  class="navbar navbar-expand-sm border-bottom border-body"
  data-bs-theme="dark"
>
  <ul class="navbar-nav">
    <li class="nav-item">
      <!-- Navigation Buttons -->
      <div class="text-center" style="margin: 20px">
        <a href="" class="btn btn-primary">Home</a>
      </div>
    </li>

    <li class="nav-item">
      <!-- Navigation Buttons -->
      <div class="text-center" style="margin: 20px">
        <a href="/show-all-employees" class="btn btn-primary"
          >View All Employees</a
        >
      </div>
    </li>
    <li class="nav-item">
      <!-- Navigation Buttons -->
      <div class="text-center" style="margin: 20px">
        <a href="/show-all-employees" class="btn btn-primary">Add Employee</a>
      </div>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
<!-- Ceci est important -->
